---
layout: default
title: Home
weight: 0
---

<section class="main-container page-head">
	<div class="main">
		<h1 class="head-title">Operating Systems</h1>
		<p class="head-subtitle">Dr. M. Afzal Bhatti</p>
	</div>
</section>
<section class="main-container text">
	<div class="main">
		<h2 class="title">Objectives</h2>
		<p>
			The aim of lecture topics of this course is to introduce basic concepts in operating systems, and how different choices in Operating System design and implementation have effects on applications, and user environments.
		</p>
		<hr>
		<p>
			BS level course (topical lectures, exercises and lecture notes). Better to first read notes of a lecture and then view lecture.
		</p>
		<hr>
		<p>Have already taken operating system course ?  </p>
		<p>&nbsp;&nbsp;You may like to refresh concepts of a specific topic of operating system course:</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Try to solve questions in Exercises of a specific lecture topic, if done easily, Good skip lecture topic.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;otherwise read lecture notes, or view lecture of the topic.</p>

		<hr>
		<h2 class="title">Course Contents</h2> 
		<p class="center">
			[<a href="#lectures">Lectures</a>]&nbsp;&nbsp;&nbsp;[<a href="#notes">Lecture Notes</a>]&nbsp;&nbsp;&nbsp;[<a href="#exercises">Exercises</a>]
			</p>
	
		<table class="table">
			<tr>
				<th>Sr</th>
				<th>Topic</th>
				<th>Links</th>
			</tr>
			{% for lecture in site.data.all.lectures %}
			<tr>
				<td> {{site.data.all.sno[forloop.index]}} </td>
				<td> {{lecture.topic | default: ""}} </td>
				<td>
					{% if lecture.video %} 
					<a href="{{lecture.video}}" target="youtube">Video</a>
					{% endif %} 
					{% if lecture.notes %} 
					 | <a href="files/{{lecture.notes}}">Notes</a>
					{% endif %} 
					{% if lecture.exercises %} 
					 | <a href="files/{{lecture.exercises}}">Exercise</a>
					{% endif %} 
					
				</td>
			</tr>
			{% endfor %}
		</table>
		<h2 class="title" id="lectures">Lecture Videos</h2>
		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.video %} 
			<li><a href="{{lecture.video}}" target="youtube">{{lecture.topic}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>
		<h2 class="title" id="notes">Lecture Notes</h2>
		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.notes %} 
			<li><a href="files/{{lecture.notes}}">{{lecture.topic | default: ""}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>
		<h2 class="title" id="exercises">Exercises</h2>

		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.exercises %} 
			<li><a href="files/{{lecture.exercises}}">{{lecture.topic | default: ""}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>





		<h2 class="title">Recommended Readings</h2>
		<ul>
			<li>A. Silberschatz et al, <i>Operating System Concepts</i>,  9/e, Wiley, 2013</li>
			<li>W. Stallings, <i>Operating Systems:  Internal and Design Principles</i>, 7/e, Prentice Hall, 2012</li>
		</ul>


		<h2 class="title">Acknowledgements</h2>
		
		<p>While teaching operating system course at Quaid-i-Azam University, I augmented my understating of operating systems from two main text books used for the course '<i>Operating System Concepts</i>' by A. Silberschatz et al' and  '<i>Operating Systems: Internal and Design Principles</i>' by W. Stallings. Lecture notes are also prepared from these books listed as recommended readings for this course.</p>

		<p>Exercises for lecture topics are mostly from course quizzes and exam papers at Quaid-i-Azam University, I am grateful to all students who solved those questions in exams and during lectures ask questions to clarify concepts of different topics.</p>

		<p>For lecture presentations some images and animation ideas are taken from OS lecture presentations available at web.</p>

		

	</div>
</section>
